<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="maileon" translate="label" sortOrder="10">
            <label>Maileon</label>
        </tab>
        <section id="syncplugin" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Settings</label>
            <tab>maileon</tab>
            <resource>Maileon_SyncPlugin::maileon_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Maileon Configuration</label>
                <field id="api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maileon Api Key</label>
                    <comment>API Key from Maileon system.</comment>
                </field>
                <field id="print_curl" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Print CURL Debug Data</label>
                    <comment>This mode is for additional output when debugging Cron-Jobs.</comment>
                    <source_model>Maileon\SyncPlugin\Model\Config\YesNo</source_model>
                </field>
            </group>
            <group id="newsletter_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Newsletter Subscribers Settings</label>
                <field id="active_modul" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Active</label>
                    <comment>Enable this module?</comment>
                    <source_model>Maileon\SyncPlugin\Model\Config\YesNo</source_model>
                </field>
                <field id="permission" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Permission</label>
                    <source_model>Maileon\SyncPlugin\Model\Config\ListPermission</source_model>
                </field>
                <field id="doi_process" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>DOI process</label>
                    <comment>Enable the DOI process?</comment>
                    <source_model>Maileon\SyncPlugin\Model\Config\YesNo</source_model>
                </field>
                <field id="doi_plus_process" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>DOI+ process</label>
                    <comment>Enable the DOI+ process?</comment>
                    <source_model>Maileon\SyncPlugin\Model\Config\YesNo</source_model>
                </field>
                <field id="doi_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Doi Mailing ID</label>
                    <comment>If DOI process enabled, this ID of the DOI mailing that should be used. If left blank, the default DOI mailing will be sent. Default [blank].</comment>
                </field>
                <field id="unsubscribe_token" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Unsubscribe Hook Token</label>
                    <comment>This is the token that has to be passed as a parameter with the call of the Unsubscribe hook from Maileon. Use parameter token=</comment>
                </field>
                <field id="doi_token" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Doi Hook Token</label>
                    <comment>This is the token that has to be passed as a parameter with the call of the DOI confirmation hook from Maileon. Use parameter token=</comment>
                </field>
                <field id="unsubscribe_all_emails" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>At Store view all emails should be unsubscribe</label>
                    <comment>If use more Store view and there is a subscriber with the same email in several Store views, all email addresses will be unsubscribed from every Store view, if the magento_storeview_id is missing.</comment>
                    <source_model>Maileon\SyncPlugin\Model\Config\YesNo</source_model>
                </field>
                <field id="disable_request_email" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable confirmation request email</label>
                    <comment>Disable Magento confirmation request email?</comment>
                    <source_model>Maileon\SyncPlugin\Model\Config\YesNo</source_model>
                </field>
                <field id="disable_success_email" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable success email</label>
                    <comment>Disable Magento subscription success email?</comment>
                    <source_model>Maileon\SyncPlugin\Model\Config\YesNo</source_model>
                </field>
                <field id="disable_unsubscription_email" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable unsubscription email</label>
                    <comment>Disable Magento unsubscription email?</comment>
                    <source_model>Maileon\SyncPlugin\Model\Config\YesNo</source_model>
                </field>
            </group>
            <group id="orders" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Oders Confirmation Settings</label>
                <field id="active_modul" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Active</label>
                    <comment>Enable this module?</comment>
                    <source_model>Maileon\SyncPlugin\Model\Config\YesNo</source_model>
                </field>
                <field id="permission" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Fallback permission</label>
                    <comment>If the customer is not a NL subscriber, that will be the permission</comment>
                    <source_model>Maileon\SyncPlugin\Model\Config\ListPermission</source_model>
                </field>
            </group>
            <group id="abandoned_cart" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Abandoned Cart Configuration</label>
                <field id="active_modul" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Active</label>
                    <comment>Enable this module?</comment>
                    <source_model>Maileon\SyncPlugin\Model\Config\YesNo</source_model>
                </field>
                <field id="permission" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Fallback permission</label>
                    <comment>If the customer is not a NL subscriber, that will be the permission</comment>
                    <source_model>Maileon\SyncPlugin\Model\Config\ListPermission</source_model>
                </field>
                <field id="hours" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label># Of Hours Before Sending Reminder</label>
                    <comment>After this many hours, send the order followup email.</comment>
                </field>
                <field id="shadow_email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shadow Email</label>
                    <comment>If this field is set, a copy of the shopping cart followup email will be sent to this address . Default [blank].</comment>
                </field>
                <field id="email_override" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Override</label>
                    <comment>If this is populated, customers will not recieve shopping cart folowup emails. Instead mails will be routed to this address. Default [blank].</comment>
                </field>
            </group>
        </section>
    </system>
</config>
