<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Xqueue\Maileon\Api\MaileonWebhookInterface" type="Xqueue\Maileon\Model\Api\MaileonWebhook"/>

    <preference for="Xqueue\Maileon\Api\TestSendAbandonedCartsEmailsInterface" type="Xqueue\Maileon\Model\Api\TestSendAbandonedCartsEmails"/>

    <preference for="Xqueue\Maileon\Api\TestMarkAbandonedCartsInterface" type="Xqueue\Maileon\Model\Api\TestMarkAbandonedCarts"/>

    <type name="Xqueue\Maileon\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="Xqueue\Maileon\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">maileonLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Xqueue\Maileon\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Newsletter\Controller\Subscriber\NewAction">
        <plugin name="MaileonSyncPluginControllerSubscriber" type="Xqueue\Maileon\Controller\Subscriber" sortOrder="1"/>
    </type>

    <type name="Magento\Newsletter\Controller\Manage\Save">
        <plugin name="MaileonSyncPluginControllerManage" type="Xqueue\Maileon\Controller\Manage" sortOrder="1"/>
    </type>

    <type name="Magento\Customer\Controller\Account\CreatePost">
        <plugin name="MaileonSyncPluginControllerAccount" type="Xqueue\Maileon\Controller\Account" sortOrder="1"/>
    </type>

    <type name="Magento\Newsletter\Model\Subscriber">
        <plugin name="MaileonSyncPluginModelSubscriber" type="Xqueue\Maileon\Model\Newsletter\Subscriber" sortOrder="1" disabled="false"/>
    </type>

    <type name="Magento\Customer\Model\EmailNotification">
        <plugin name="MaileonSyncPluginModelCustomerEmailNotification" type="Xqueue\Maileon\Model\Customer\EmailNotification" sortOrder="1"/>
    </type>

    <type name="Magento\Sales\Model\Order\Email\Sender\CreditmemoCommentSender">
        <plugin name="MaileonSyncPluginModelOrderEmailCreditmemoCommentSender" type="Xqueue\Maileon\Model\Order\Email\CreditmemoCommentSender" sortOrder="1"/>
    </type>

    <type name="Magento\Sales\Model\Order\Email\Sender\CreditmemoSender">
        <plugin name="MaileonSyncPluginModelOrderEmailCreditmemoSender" type="Xqueue\Maileon\Model\Order\Email\CreditmemoSender" sortOrder="1"/>
    </type>

    <type name="Magento\Sales\Model\Order\Email\Sender\InvoiceCommentSender">
        <plugin name="MaileonSyncPluginModelOrderEmailInvoiceCommentSender" type="Xqueue\Maileon\Model\Order\Email\InvoiceCommentSender" sortOrder="1"/>
    </type>

    <type name="Magento\Sales\Model\Order\Email\Sender\InvoiceSender">
        <plugin name="MaileonSyncPluginModelOrderEmailInvoiceSender" type="Xqueue\Maileon\Model\Order\Email\InvoiceSender" sortOrder="1"/>
    </type>

    <type name="Magento\Sales\Model\Order\Email\Sender\OrderSender">
        <plugin name="MaileonSyncPluginModelOrderEmailOrderSender" type="Xqueue\Maileon\Model\Order\Email\OrderSender" sortOrder="1"/>
    </type>

    <type name="Magento\Sales\Model\Order\Email\Sender\OrderCommentSender">
        <plugin name="MaileonSyncPluginModelOrderEmailOrderCommentSender" type="Xqueue\Maileon\Model\Order\Email\OrderCommentSender" sortOrder="1"/>
    </type>

    <type name="Magento\Sales\Model\Order\Email\Sender\ShipmentCommentSender">
        <plugin name="MaileonSyncPluginModelOrderEmailShipmentCommentSender" type="Xqueue\Maileon\Model\Order\Email\ShipmentCommentSender" sortOrder="1"/>
    </type>

    <type name="Magento\Sales\Model\Order\Email\Sender\ShipmentSender">
        <plugin name="MaileonSyncPluginModelOrderEmailShipmentSender" type="Xqueue\Maileon\Model\Order\Email\ShipmentSender" sortOrder="1"/>
    </type>

</config>
