<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="maileon" translate="label" sortOrder="10">
            <label>Maileon</label>
        </tab>
        <section id="syncplugin" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Settings</label>
            <tab>maileon</tab>
            <resource>Maileon_SyncPlugin::maileon_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Maileon Configuration</label>
                <field id="api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maileon Api Key</label>
                    <comment>API Key from Maileon system.</comment>
                </field>
                <field id="print_curl" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Print CURL Debug Data</label>
                    <comment>This mode is for additional output when debugging.</comment>
                    <source_model>Xqueue\Maileon\Model\Config\YesNo</source_model>
                </field>
            </group>
            <group id="newsletter_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Newsletter Subscribers Settings</label>
                <field id="active_modul" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Active</label>
                    <comment>Enable this module?</comment>
                    <source_model>Xqueue\Maileon\Model\Config\YesNo</source_model>
                </field>
                <field id="permission" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Initial Permission</label>
                    <comment>This is the permission a newsletter subscriber will be created in maileon with. Usually NONE (no permission) is the correct choice.</comment>
                    <source_model>Xqueue\Maileon\Model\Config\ListPermission</source_model>
                </field>
                <field id="doi_process" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>DOI process</label>
                    <comment>Send a Double-Opt-In mail from Maileon?</comment>
                    <source_model>Xqueue\Maileon\Model\Config\YesNo</source_model>
                </field>
                <field id="doi_plus_process" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>DOI+ process</label>
                    <comment>Request DOI+ (Double-Opt-In with permission for single user tracking). Requires 'DOI Process' to be enabled.</comment>
                    <source_model>Xqueue\Maileon\Model\Config\YesNo</source_model>
                </field>
                <field id="doi_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Doi Mailing ID</label>
                    <comment>If 'DOI process_ enabled, the DOI mailing with the given key should be used. If left blank, the default DOI mailing will be sent. Default [blank].</comment>
                </field>
                <field id="unsubscribe_token" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Unsubscription Hook Token</label>
                    <comment>This is the token that has to be passed as a parameter with the call of the unsubscription webhook from Maileon. Use parameter token=</comment>
                </field>
                <field id="doi_token" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>DOI Confirmation Hook Token</label>
                    <comment>This is the token that has to be passed as a parameter with the call of the DOI confirmation webhook from Maileon. Use parameter token=</comment>
                </field>
                <field id="unsubscribe_all_emails" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Unsubscribe All Emails</label>
                    <comment>If using different storeviews, the same email can be subscribed several times in Magento (since Magento 2.4). As each contact can be distributed among different Maileon newsletter accounts, Magento needs to know the storeview to mark contacts as "subscribed" or "unsubscribed". Maileon realizes this by passing the storeview ID along the calls but if it is not available, this option handels the behavior. If set to true and storeview_id is missing, all contacts with the same email address will be unsubscribed. If set to false, the unsubscription will be ignored, so best is to properly set up the parameter passing and/or setting this to true.</comment>
                    <source_model>Xqueue\Maileon\Model\Config\YesNo</source_model>
                </field>
                <field id="disable_request_email" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable confirmation request email</label>
                    <comment>Disable Magento confirmation request email?</comment>
                    <source_model>Xqueue\Maileon\Model\Config\YesNo</source_model>
                </field>
                <field id="disable_success_email" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable success email</label>
                    <comment>Disable Magento subscription success email?</comment>
                    <source_model>Xqueue\Maileon\Model\Config\YesNo</source_model>
                </field>
                <field id="disable_unsubscription_email" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable unsubscription email</label>
                    <comment>Disable Magento unsubscription email?</comment>
                    <source_model>Xqueue\Maileon\Model\Config\YesNo</source_model>
                </field>
            </group>
            <group id="orders" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Orders Confirmation Settings</label>
                <field id="active_modul" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Active</label>
                    <comment>Enable this module?</comment>
                    <source_model>Xqueue\Maileon\Model\Config\YesNo</source_model>
                </field>
                <field id="buyers_permission_enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable separate permission for buyers</label>
                    <comment>Enable separate permission for buyers?</comment>
                    <source_model>Xqueue\Maileon\Model\Config\YesNo</source_model>
                </field>
                <field id="buyers_transaction_permission" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Buyers permission</label>
                    <comment>Buyers permission</comment>
                    <source_model>Xqueue\Maileon\Model\Config\ListPermission</source_model>
                </field>
            </group>
            <group id="abandoned_cart" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Abandoned Cart Configuration</label>
                <field id="active_modul" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Active</label>
                    <comment>Enable this module?</comment>
                    <source_model>Xqueue\Maileon\Model\Config\YesNo</source_model>
                </field>
                <field id="permission" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Fallback permission</label>
                    <comment>If the customer is not a NL subscriber, that will be the permission</comment>
                    <source_model>Xqueue\Maileon\Model\Config\ListPermission</source_model>
                </field>
                <field id="hours" translate="label" type="text" sortOrder="1" showInDefault="1">
                    <label># Of Hours Before Sending Reminder</label>
                    <comment>After this many hours, send the order followup email.</comment>
                </field>
                <field id="shadow_email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shadow Email</label>
                    <comment>If this field is set, a copy of the shopping cart followup email will be sent to this address . Default [blank].</comment>
                </field>
                <field id="email_override" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Override</label>
                    <comment>If this is populated, customers will not recieve shopping cart folowup emails. Instead mails will be routed to this address. Default [blank].</comment>
                </field>
                <field id="active_test_webhook" translate="label" type="select" sortOrder="1" showInDefault="1">
                    <label>Test Webhook Active</label>
                    <source_model>Xqueue\Maileon\Model\Config\YesNo</source_model>
                </field>
                <field id="test_webhook_token" translate="label" type="text" sortOrder="1" showInDefault="1">
                    <label>Test Webhook Token</label>
                    <comment>This is the token that has to be passed as a parameter with the call of the abandoned cart test webhook. Use parameter token=</comment>
                </field>
            </group>
        </section>
    </system>
</config>
